<% provide(:title, "About") %>
<h1>About Handbag Adore</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
        <p>The Company started in 2020 during a global pandemic. It was the 
            braichild of Christina Caldwell who was left without her income as a top Ruby on 
            Rails developer and donec aliquam lacus eget metus ornare, id hendrerit magna sodales. U
            t sodales mauris non lectus tincidunt tempor. Phasellus iaculis nec risus at tincidunt. 
            Praesent interdum nunc nunc, sed aliquet sem consequat vitae. Nam non auctor lacus, ut semper purus. 
            Praesent volutpat hendrerit ligula ac pellentesque. Suspendisse augue turpis, tincidunt id rhoncus ut, 
            elementum a leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in venenatis ex. Lorem 
            ipsum dolor sit amet, consectetur adipiscing elit. Proin orci dui, condimentum nec enim sit amet, finibus euismod sem. 
        </p>
        
        <p>Sign up to our newsletter</p>
    </div>
    
    <div class="col-6"><%= image_tag "louisv_min.jpg"%></div>
   
    </div>
    
</div>