
<h1>Spring Summer 2021 Collection</h1>

    
  <section>
    <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-4 feature-box">
        <i class="fa fa-shopping-bag fa-4x"></i>
        <h3>Canvas Tote.</h3>
        <p>A more relaxed summer style.</p>
      </div>
      <div class="col-lg-4 feature-box">
        <i class="fa fa-shopping-bag fa-4x"></i>
        <h3>Evening tote</h3>
        <p>For a more glamorous look.</p>
      </div>

      <div class="col-lg-4 feature-box">
        <i class="fa fa-shopping-bag fa-4x"></i>
        <h3>Crossbody.</h3>
        <p>Flexible portable style.</p>
      </div>
    </div>
    </div>

  </section>
  



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
            <%= image_tag "chanel-min.jpg", 
      alt: "Lady holding Chanel bag",
      height: 600 %>
    </div>
    <div class="carousel-item">
            <%= image_tag "bags-min.jpg",
      alt: "Louis Viton shop front",
      height: 600 %>
    </div>
    <div class="carousel-item">
            <%= image_tag "shopfront-min.jpg",
      alt: "Store fron with manequins holding handbags",
      height: 600 %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    



